
.form-container, .vacation-requests-list{
  width: 600px;
  margin: 0 auto;
}

.vacation-requests-list {
  margin-bottom: 20px;
  margin-top: 100px;
}

.vacation-request-form {
  display: flex;
  flex-direction: column;
}

.employees-list {
  width: 300px;
  margin-right: 50px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


