<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <h1>Solicitudes App</h1>
    <nav>
      <mat-list>
        <mat-list-item><a routerLink="/editar-empleado" routerLinkActive="active" ariaCurrentWhenActive="page">Crear Empleado</a></mat-list-item>
        <mat-list-item><a routerLink="/empleados" routerLinkActive="active" ariaCurrentWhenActive="page">Editar Empleado</a></mat-list-item>
        <mat-list-item><a routerLink="/listar-empleados" routerLinkActive="active" ariaCurrentWhenActive="page">Lista de Empleados</a></mat-list-item>
        <mat-list-item><a routerLink="/crear-solicitud" routerLinkActive="active" ariaCurrentWhenActive="page">Solicitar Vacaciones</a></mat-list-item>
        <mat-list-item><a routerLink="/solicitudes-vacaciones" routerLinkActive="active" ariaCurrentWhenActive="page">Lista de Solicitudes</a></mat-list-item>
      </mat-list>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
